<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-LR4XXZYC3R"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-LR4XXZYC3R');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=250%">
  <meta name="description"
    content="Lihan Zha is a PhD student in robotics and machine learning at Princeton University.">
    
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:80%;max-width:80%" alt="profile photo" src="images/self_photo_3.jpg">
            </td>
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                <name>Lihan Zha</name>
              </h1>
              <p>I am a PhD student at Princeton University, advised by <a href="https://irom-lab.princeton.edu/majumdar">Anirudha Majumdar</a>. I am interested in enabling robots to perform complex tasks trustworthily in the real world. 
                <!-- <a href="https://www.wyc.tsinghua.edu.cn/">Weiyang College</a> in <a href="https://www.tsinghua.edu.cn/en/">Tsinghua University</a>, double majoring in Mathematics and Physics and Energy and Power Engineering. My research goal is to enable robots to interact with the physical world. -->
              </p>
              <p>
                Previously, I graduated from Tsinghua University with a B.S. in Mathematics and Physics and a B.E. in Mechanical Engineering, where I worked with <a href="http://people.iiis.tsinghua.edu.cn/~jychen/">Jianyu Chen</a> on humanoid robots. I was also a visiting student at Stanford, advised by <a href="https://dorsa.fyi/">Dorsa Sadigh</a>.
                <!-- where I work on foundation models for robotics. Prior to that, I worked with <a href="http://people.iiis.tsinghua.edu.cn/~jychen/">Prof.  Jianyu Chen</a> on reinforcement learning for complex dynamics. I was also very fortunate to be advised by <a href="https://www.depe.tsinghua.edu.cn/depeen/info/1297/1100.htm">Prof.  Dongxiang Jiang</a>, where I worked on time series analysis. -->
              </p>
              <!-- <p style="font-size:17px;">
                <strong>I'm actively seeking PhD in robotics for Fall 2024!</strong>
              </p> -->
              <p style="text-align:center">
                Email: lihanzha@princeton.edu <br>
                <a href="https://github.com/lihzha">GitHub</a> &nbsp;/&nbsp;
                <a href="https://x.com/LihanZha"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=3UErXEwAAAAJ&hl=zh">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://linkedin.com/in/lihan-zha"> LinkedIn </a>
              </p>
            </td>
            
          </tr>
        </table>

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <subtitle>News</subtitle>
          <ul>
              <li> <b>Sep 2023</b> Started PhD at Stanford University. 🌲
              <li> <b>Jun 2023</b> Graduated from Tsinghua University. 🎓
              <li> <b>Aug 2022</b> Visiting Research Student through the <a href="https://engineering.stanford.edu/students-academics/programs/global-engineering-programs/chinese-ugvr">UGVR program</a> advised by Prof. <a href="http://geometry.stanford.edu/member/guibas/index.html">Leonidas J. Guibas.
          </ul>
          <p></p>
          <div style="clear: both;"></div>
        </table> -->
        <div class="divider"></div>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <subtitle>News</subtitle>

              <br>
              <br>

              <ul>
                <li> <span class="newsdate">Aug 2024</span><span class="newscontent"> Started PhD at Princeton University. 🐯</span></li>
                <li> <span class="newsdate">Jun 2024</span><span class="newscontent"> Graduated from Tsinghua University. 🎓</span></li>
                <li> <span class="newsdate">Jul 2023</span><span class="newscontent"> Research intern at Stanford University advised by Prof. <a href="https://dorsa.fyi">Dorsa Sadigh. 🌲</span></li>
              </ul>
            </td>
        </table>

        <div class="divider"></div>


        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;"> -->

        <!-- </table> -->


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <subtitle>Research</subtiitle>
              <!-- <p>
                (*: Equal contribution. Listed alphabetically.)
              </p> -->
            </td> 
          </tr>
        </table>


        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>
                <a href="{{post.href}}" style="color:#063b6d">{{post.title}}</a>
              </h3>
              <br>

              
              <span class="coauthor">{{post.authors}}</span>
              <br>

              
              <span class="highlight">{{post.venue}}</span> <em>{{post.fullname}}</em>
              <br>


              {% if post.workshop %}
              <em>{{post.workshop}}</em>
              <br>
              {% endif %}

              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a>
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> 
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}

              {% if post.award %}
                🏅 <strong>{{post.award}}
              {% endif %}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>

        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected Projects</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'project' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}

              {% if post.paper %}
              {% if post.code != ''%}
              {% if post.video != ''%}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% endif %}
              {% endif %}

              {% if post.paper %}
              {% if post.code != ''%}
              {% if post.video == ''%}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% endif %}
              {% endif %}

              {% if post.paper %}
              {% if post.code == ''%}
              {% if post.video != ''%}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% endif %}
              {% endif %}

              {% if post.paper %}
              {% if post.code == ''%}
              {% if post.video == ''%}
              <a href="{{post.paper}}">paper</a> 
              {% endif %}
              {% endif %}
              {% endif %}

              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}

              {% if post.video != '' %}
              {% if post.code != '' %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% endif %}

              {% if post.video != '' %}
              {% if post.code == '' %}
              <a href="{{post.video}}">video</a>
              {% endif %}
              {% endif %}

              {% if post.code != '' %}
              <a href="{{post.code}}">code</a> 
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

       <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <subtitle>Awards</subtitle>
              <br>
              <ul>
                <li>National Scholarship, 2023.</li>
                <li>Jiang Nan Xiang Scholarship, Tsinghua University, 2022</li>
                <li>Innovation Award of Science and Technology, Tsinghua University, 2022-2023.</li>
                <li>Social Work Excellence Award, Tsinghua University, 2021. </li>
                <li>Comprehensive Excellence Award, Tsinghua University, 2021. </li>
              </ul>
            </td>
          </tr>
        </table> -->

        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:right;font-size:small;">Design and source code from <a href="https://jonbarron.info/">Jon Barron</a></p>
            </td>
          </tr>
        </table>  
      </td>
    </tr>
  </table>
</body>

</html>